.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}
.nav-items > ul  > li{
    padding: 10px;
}

.logo {
    width: 200px;
}
.restrList {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: 20px;
}


/*---------------------------------------
  FOOTER              
-----------------------------------------*/
.site-footer {
    background-image: url('images/footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .site-footer::before {
    content: "";
    background: linear-gradient(to top, var(--dark-color), transparent 200%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .site-footer .container {
    position: relative;
  }
  
  .tooplate-mt30 {
      margin-top: 30px;
  }
  .tooplate-mt60 {
      margin-top: 60px;
  }
  
  .copyright-text {
    font-size: var(--menu-font-size);
  }
  
  .tel-link {
    color: var(--p-color);
  }
  
  .site-footer a:hover {
    color: var(--white-color);
  }
  
  .site-footer a {
        color: #AAA;;
  }
  
  .site-footer p {
      color: #AAA;
  }
  